@model IEnumerable<IpharmWebAppProject.Models.Product>

@{
    ViewData["Title"] = "Search";
}

<head>
    @section scripts{
        <script>
            $(document).ready(function () {
                $(".form-select").change(function () {
                    window.location.href = 'Search?' + 'query=@ViewBag.query'
                        + '&sort=' + $("#sortby").val()
                        + '&gender=' + $("#genderby").val()
                        + '&category=' + $("#categoryby").val()
                        + '&price=' + $("#priceby").val();
                });
            });
        </script>
    }
</head>


<div class="titles">
    <h2>Search results for:  @ViewBag.query</h2>
</div>

<hr class="solid">

<div class="tiny-container">
    <div class="row">
        <div class="col-2">
            <select id="sortby" class="form-select">
                <option value="0">Sort</option>
                <option value="1">Recommended</option>
                <option value="2">Price High to Low</option>
                <option value="3">Price Low to High</option>
                <option value="4">Top Rated</option>
            </select>
        </div>
        <div class="col-2">
            <select id="genderby" class="form-select">
                <option value="0">Gender</option>
                <option value="1">Women</option>
                <option value="2">Men</option>
                <option value="3">Unisex</option>
            </select>
        </div>
        <div class="col-2">
            <select id="categoryby" class="form-select">
                <option value="0">Category</option>
                <option value="1">Skincare</option>
                <option value="2">Haircare</option>
                <option value="3">Makeup</option>
            </select>
        </div>
        <div class="col-2">
            <select id="priceby" class="form-select">
                <option value="0">Price Range</option>
                <option value="2">0$-25$</option>
                <option value="3">25$-50$</option>
                <option value="4">50$-100$</option>
                <option value="5">100$+</option>
            </select>
        </div>
    </div>
</div>

<hr class="solid">
@*<p style="text-align: center; margin-bottom: -40px;">@(Model.Count()) items found</p>*@

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Id
            </th>
            <th>
                Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="prod-@(item.ProductId)">
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProductId">
                        <img src=@Html.DisplayFor(modelItem => item.PicUrl1) width="100">
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.Name)</b> (@(Html.DisplayFor(modelItem => item.Amount))ml)
                    <p>
                        @item.Brand.ToUpper() |
                        @Html.DisplayFor(modelItem => item.Category) |
                        @Html.DisplayFor(modelItem => item.Type) |
                        @Html.DisplayFor(modelItem => item.Gender)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)/5
                </td>
            </tr>
        }
    </tbody>
</table>
