@model IpharmWebAppProject.Models.Order

@{
    ViewData["Title"] = "Cart";
}
<link href="~/css/cart.css" rel="stylesheet" />
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            var subtotal = parseFloat($('#sub').val());
            var delivery = $('#basket-Delivery');
            var total = $('#basket-total');

            if (subtotal > 20) {
                delivery.text('free');
                total.text((Math.floor(subtotal * 100) / 100).toFixed(2) + '$');
            }
            else {
                delivery.text('5$');
                var sum = (Math.floor(parseFloat(subtotal + 5) * 100) / 100).toFixed(2);
                total.text(sum.toString() + '$');
            }


        });
    </script>
</head>

<table class="table" id="products">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Amount
            </th>
            <th>
                Subtotal
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
        <tr id="prod-@(item.ProductId)">
            <td>
                <a asp-action="details" asp-controller="Products" asp-route-id="@item.ProductId">
                    <img src=@Html.DisplayFor(modelItem => item.Product.PicUrl1) width="100">
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @((item.Amount * item.Product.Price).ToString())$
            </td>
            <td>
                <a class="inside" asp-controller="Orders" asp-action="Cart" asp-route-productId="@item.ProductId" asp-route-addition="false">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </div>
                </a>

            </td>
            <td>
                <a class="inside" asp-controller="Orders" asp-action="Cart" asp-route-one="true" asp-route-productId="@item.ProductId" asp-route-addition="false">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"fill="black" class="bi bi-dash-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                        </svg>
                    </div>
                </a>

            </td>
        </tr>
        }
    </tbody>
</table>

<aside>
    <div class="summary">
        <div class="summary-total-items">
            <span class="total-items">  @Html.DisplayFor(modelItem => Model.Products.Count)  Items in your Bag</span>
        </div>
        <div class="summary-subtotal">
            <div class="subtotal-title">Subtotal</div>
            <div class="subtotal-value final-value" value="@(Model.Price)" id="basket-subtotal"> @String.Format("{0:0.00}", Model.Price)$</div>
            <input id="sub" type="hidden" value="@(Model.Price)" />
            <div class="summary-promo hide">

            </div>
        </div>
        <div class="summary-subtotal">
            <div class="subtotal-title">Delivery</div>
            <div class="subtotal-value final-value" id="basket-Delivery"> </div>
            <div class="summary-promo hide">

            </div>
        </div>
        <div class="summary-total">
            <div class="total-title">TOTAL TO PAY</div>
            <div class="total-value final-value" id="basket-total"></div>
        </div>
        <div class="summary-checkout">
            @if (Model.Price == 0)
            {
                <a type="button" class="checkout-cta">Checkout</a>
            }
            else{
                <a asp-controller="Orders" asp-action="Checkout" type="button" class="checkout-cta">Checkout</a>
            }
        </div>
    </div>
</aside>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
