@model IpharmWebAppProject.Models.Order

@{
    ViewData["Title"] = "Details";
}


<link rel="stylesheet" href="~/css/EditStyleSheet.css" />
<link rel="stylesheet" href="~/css/StyleSearchPage.css" />

<div class="title-div">
    <a class="title-edit" style=" color: #F5F5F5; ">Order details</a>
</div>

<hr class="solid">
<div>
    <hr />
    <dl class="row">
        @if (Context.User.Claims.ElementAt(10).Value == "Manager") //Manager
        {
            <dt class="col-sm-2">
                User Email:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        }
        <dt class="col-sm-2">
            Order status:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Total price:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)$
        </dd>
        <dt class="col-sm-2">
            Order date:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class="col-sm-10">

            @foreach (var item in Model.Products.ToList())
                {
                    <ul>
                        <li>
                            <a asp-controller="Products"
                               asp-action="Details"
                               asp-route-id="@item.ProductId"
                               ><img src=@Html.DisplayFor(modelitem => item.Product.PicUrl1) width="100">
                            </a>
                        </li>
                    </ul>

                }

        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a>*@
    <a class="btn bt" asp-action="Index">
        Back to List
    </a>
</div>
