@model IEnumerable<IpharmWebAppProject.Models.Order>

<head>
    <link rel="stylesheet" href="~/css/IndexStyleSheet.css" />
    @*<link rel="stylesheet" href="~/css/EditStyleSheet.css" />*@
</head>

<table class="table"  id="products">
    <thead>
        <tr>
            <th>
                Id
            </th>
            @if (Context.User.Claims.ElementAt(10).Value == "Manager") //Manager
            {
                <th>
                    Email
                </th>
            }
            <th>
                Status
            </th>
            <th>
                Price
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                @if (Context.User.Claims.ElementAt(10).Value == "Manager") //Manager
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @String.Format("{0:0.00}", item.Price)$
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    <form asp-action="Arrived" asp-route-id="@item.OrderId" method="post">
                        <a class="btn bt" asp-action="Details" asp-route-id="@item.OrderId">
                            Details
                        </a>
                        @if (Context.User.Claims.ElementAt(10).Value == "Customer") //Costomer
                        {

                            <input type="submit" value="Arrived" class="btn bt arv" />
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

